Source: qtbase
Section: libs
Priority: optional
Maintainer: Mohammed Sameer <msameer@foolab.org>
Build-Depends: debhelper (>= 9),
               libatspi2.0-dev,
               libcups2-dev,
               libdbus-1-dev,
               libfontconfig1-dev,
               libfreetype6-dev,
               libgles2-mesa-dev | libgles2-dev,
               libglib2.0-dev,
               libgstreamer-plugins-base1.0-dev,
               libgstreamer1.0-dev,
               libharfbuzz-dev,
               libicu-dev,
               libinput-dev [linux-any],
               libjpeg-dev,
               libmtdev-dev [linux-any],
               libpcre3-dev,
               libpng-dev,
               libproxy-dev,
               libpulse-dev,
               libsqlite3-dev,
               libssl-dev,
               libudev-dev,
               libx11-dev,
               libx11-xcb-dev,
               libxcb-icccm4-dev,
               libxcb-image0-dev,
               libxcb-keysyms1-dev,
               libxcb-randr0-dev,
               libxcb-render-util0-dev,
               libxcb-render0-dev,
               libxcb-shape0-dev,
               libxcb-shm0-dev,
               libxcb-sync-dev,
               libxcb-xfixes0-dev,
               libxcb-xkb-dev,
               libxcb1-dev,
               libxext-dev,
               libxi-dev,
               libxkbcommon-dev,
               libxkbcommon-x11-dev,
               libxrender-dev,
               publicsuffix,
               zlib1g-dev
Standards-Version: 3.9.6
Homepage: http://qt-project.org/

Package: libqt5core5
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Qt 5 core module
 Qt is a cross-platform C++ application framework. Qt's primary feature
 is its rich set of widgets that provide standard GUI functionality.
 .
 The QtCore module contains core non-GUI functionality.

Package: libqt5gui5
Architecture: any
Depends: fontconfig, ${misc:Depends}, ${shlibs:Depends}
Description: Qt 5 GUI module
 Qt is a cross-platform C++ application framework. Qt's primary feature
 is its rich set of widgets that provide standard GUI functionality.
 .
 The QtGui module extends QtCore with GUI functionality.

Package: libqt5network5
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Qt 5 network module
 Qt is a cross-platform C++ application framework. Qt's primary feature
 is its rich set of widgets that provide standard GUI functionality.
 .
 The QtNetwork module offers classes that allow you to write TCP/IP clients and
 servers. It provides classes to make network programming easier and portable.

Package: libqt5sql5
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Recommends: libqt5sql5-sqlite
Description: Qt 5 SQL module
 Qt is a cross-platform C++ application framework. Qt's primary feature
 is its rich set of widgets that provide standard GUI functionality.
 .
 The QtSql module helps you provide seamless database integration to your Qt
 applications.

Package: libqt5sql5-sqlite
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Qt 5 SQLite 3 database driver
 This package contains the SQLite 3 plugin for Qt 5.
 .
 Install it if you intend to use or write Qt programs that are to access an
 SQLite 3 DB.

Package: libqt5xml5
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Qt 5 XML module
 Qt is a cross-platform C++ application framework. Qt's primary feature
 is its rich set of widgets that provide standard GUI functionality.
 .
 The QtXml module provides a stream reader and writer for XML documents,
 and C++ implementations of SAX and DOM.

Package: libqt5dbus5
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Qt 5 D-Bus module
 Qt is a cross-platform C++ application framework. Qt's primary feature
 is its rich set of widgets that provide standard GUI functionality.
 .
 The QtDBus module is a Unix-only library that you can use to make Inter-Process
 Communication using the D-Bus protocol.
 .
 Applications using the QtDBus module can provide services to other, remote
 applications by exporting objects, as well as use services exported by those
 applications by placing calls and accessing properties.

Package: libqt5test5
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Qt 5 test module
 Qt is a cross-platform C++ application framework. Qt's primary feature
 is its rich set of widgets that provide standard GUI functionality.
 .
 The QtTest module provides classes for unit testing Qt applications and
 libraries.

Package: libqt5concurrent5
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Qt 5 concurrent module
 Qt is a cross-platform C++ application framework. Qt's primary feature
 is its rich set of widgets that provide standard GUI functionality.
 .
 The QtConcurrent module contains functionality to support concurrent execution
 of program code.

Package: libqt5egldeviceintegration5
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Qt 5 EGL device integration
 Qt is a cross-platform C++ application framework. Qt's primary feature
 is its rich set of widgets that provide standard GUI functionality.
 .
 This module provides integration with different EGL devices through
 specific plugins for kms, x11, etc.

Package: libqt5xcbqpa5
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Qt 5 XCB platform module
 Qt is a cross-platform C++ application framework. Qt's primary feature
 is its rich set of widgets that provide standard GUI functionality.
 .
 This module provides XCB integration used on regular desktop Linux platforms.

Package: qtbase5-dev
Architecture: any
Section: libdevel
Depends: libgles2-mesa-dev | libgles2-dev,
         libqt5concurrent5 (= ${binary:Version}),
         libqt5core5 (= ${binary:Version}),
         libqt5dbus5 (= ${binary:Version}),
         libqt5egldeviceintegration5 (= ${binary:Version}) [linux-any],
         libqt5gui5 (= ${binary:Version}),
         libqt5network5 (= ${binary:Version}),
         libqt5sql5 (= ${binary:Version}),
         libqt5test5 (= ${binary:Version}),
         libqt5xcbqpa5 (= ${binary:Version}),
         libqt5xml5 (= ${binary:Version}),
         libxext-dev,
         qt5-qmake (= ${binary:Version}),
         qtbase5-dev-tools (= ${binary:Version}),
         ${misc:Depends}
Description: Qt 5 base development files
 Qt is a cross-platform C++ application framework. Qt's primary feature
 is its rich set of widgets that provide standard GUI functionality.
 .
 This package contains the header development files used for building Qt 5
 applications.

Package: qtbase5-private-dev
Architecture: any
Section: libdevel
Depends: libinput-dev [linux-any],
         libxkbcommon-dev,
         qtbase5-dev (= ${binary:Version}),
         ${misc:Depends}
Description: Qt 5 base private development files
 Qt is a cross-platform C++ application framework. Qt's primary feature
 is its rich set of widgets that provide standard GUI functionality.
 .
 This package contains the private header development files for building some
 Qt 5 applications like Qt Creator QML Designer plugin.
 .
 Use at your own risk.

Package: qtbase5-dev-tools
Architecture: any
Section: devel
Depends: ${misc:Depends}, ${perl:Depends}, ${shlibs:Depends}
Description: Qt 5 base development programs
 Qt is a cross-platform C++ application framework. Qt's primary feature
 is its rich set of widgets that provide standard GUI functionality.
 .
 This package contains the development programs used for building Qt 5
 applications, such as moc, qdbuscpp2xml, qdbusxml2cpp, qdoc, rcc,
 syncqt and uic.

Package: qt5-qmake
Architecture: any
Section: devel
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Qt 5 qmake Makefile generator tool
 Qt is a cross-platform C++ application framework. Qt's primary feature
 is its rich set of widgets that provide standard GUI functionality.
 .
 This package contains the Qt 5 qmake, a tool that helps simplify
 the build process for development project across different platforms.
 qmake automates the generation of Makefiles so that only a few lines of
 information are needed to create each Makefile. qmake can be used for any
 software project, whether it is written using Qt or not.
 .
 Qt 5 qmake requires a platform and compiler description file which contains
 many default values used to generate appropriate Makefiles.
 .
 This package contains also these platform specifications.

Package: qtbase5-examples
Architecture: any
Multi-Arch: foreign
Section: x11
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Qt 5 base examples
 Qt is a cross-platform C++ application framework. Qt's primary feature
 is its rich set of widgets that provide standard GUI functionality.
 .
 This package contains Qt base 5 examples.

Package: qtbase5-dbg
Priority: extra
Architecture: any
Multi-Arch: same
Section: debug
Depends: libqt5core5 (= ${binary:Version}), ${misc:Depends}
Description: Qt 5 base library debugging symbols
 Qt is a cross-platform C++ application framework. Qt's primary feature
 is its rich set of widgets that provide standard GUI functionality.
 .
 This package contains the debugging symbols for the Qt 5 base libraries.

Package: qtbase5-dev-tools-dbg
Priority: extra
Architecture: any
Multi-Arch: same
Section: debug
Depends: qt5-qmake (= ${binary:Version}),
         qtbase5-dev-tools (= ${binary:Version}),
         ${misc:Depends}
Recommends: qtbase5-dbg
Description: Qt 5 base binaries debugging symbols
 Qt is a cross-platform C++ application framework. Qt's primary feature
 is its rich set of widgets that provide standard GUI functionality.
 .
 This package contains the debugging symbols for the Qt 5 binaries.
