#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --builddirectory=build --sourcedirectory=qtbase --parallel

override_dh_auto_configure:
	mkdir build && cd build && ../qtbase/configure \
		-confirm-license \
		-prefix "/usr" \
		-docdir "/usr/share/qt5/doc" \
		-datadir "/usr/share/qt5" \
		-archdatadir "/usr/share/qt5" \
		-translationdir "/usr/share/qt5/translations" \
		-sysconfdir "/etc/xdg" \
		-plugindir "/usr/lib/qt5/plugins" \
		-importdir "/usr/lib/qt5/imports" \
		-qmldir "/usr/lib/qt5/qml" \
		-headerdir "/usr/include/qt5" \
		-examplesdir "/usr/lib/qt5/examples" \
		-opensource \
		-no-sql-mysql \
		-no-sql-odbc \
		-no-sql-psql \
		-plugin-sql-sqlite \
		-no-sql-sqlite2 \
		-no-sql-tds \
		-system-sqlite \
		-system-harfbuzz \
		-system-zlib \
		-system-libpng \
		-system-libjpeg \
		-openssl \
		-no-rpath \
		-optimized-qmake \
		-dbus-linked \
		-no-strip \
		-no-separate-debug-info \
		-qpa xcb \
		-xcb \
		-glib \
		-icu \
		-evdev \
		-eglfs \
		-no-gtkstyle \
		-accessibility \
		-no-directfb \
		-gstreamer 1.0 \
		-opengl es2 \
		-libinput \
		-system-proxies \
		-no-compile-examples \
		-verbose \
		-no-pch \
#		-system-pcre \

override_dh_install:
	rm -f debian/tmp/usr/lib/*.la
	rm -f debian/tmp/usr/lib/cmake/Qt5*/Q*Plugin.cmake
	rm -f debian/tmp/usr/lib/libQt5Bootstrap*
	rm -f debian/tmp/usr/lib/pkgconfig/Qt5Bootstrap.pc
	dh_install --fail-missing

override_dh_auto_clean:
	dh_auto_clean
	rm -rf build

override_dh_strip:
	dh_strip -pqtbase5-dev-tools --dbg-package=qtbase5-dev-tools-dbg
	dh_strip -pqt5-qmake --dbg-package=qtbase5-dev-tools-dbg
	dh_strip --remaining-packages --dbg-package=qtbase5-dbg
